select {
  width: 50%;
  height: 50px;
  box-sizing: border-box;
  border: 1px solid #000;
  border-radius: 4px;
  padding: 0 0.5em;
  font-size: 1.1rem;
}

/* ------------------------------
  RESPONSIVE DESIGN
--------------------------------*/

/* Tablet (hasta 1024px) */
@media (max-width: 1024px) {
  select {
    margin-top: 5%;
    height: 50px;
  }
}

/* Móviles (hasta 768px) */
@media (max-width: 768px) {
  select {
    width: 80%;
    font-size: 0.8rem;
  }
}