select {
  width: 50%;
  height: 60px;
}

/* ------------------------------
  RESPONSIVE DESIGN
--------------------------------*/

/* Tablet (hasta 1024px) */
@media (max-width: 1024px) {
  select {
    margin-top: 5%;
    height: 50px;
  }
}

/* Móviles (hasta 768px) */
@media (max-width: 768px) {
  select {
    width: 80%;
  }
}