.login{
  text-align: center;
  margin-top: 20px;
}

/* ------------------------------
  RESPONSIVE DESIGN
--------------------------------*/

/* Tablet (hasta 1024px) */
@media (max-width: 1024px) {
  button,
  input[type="reset"] {
    width: 100%;
  }
}