main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 40px;
}

form {
  display: flex;
  flex-direction: column;
  width: 30%;
  gap: 10px;
}

.inputs {
  display: flex;
  justify-content: space-between;
}

.inputs input {
  width: 50%;
}

.buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 5%;
}
